#!en

[Desktop Entry]
#s Launcher's name :
Name=Search for Files...
#s Command to launch on click :
#{Exemple : nautilus --no-desktop, gedit, etc. You can even enter a keyboard shortcut, for exemple <Alt>F1 for the Applications Menu, <Ctrl>c or <Ctrl>v to copy or paste, etc}
Exec=gnome-search-tool
#S Image's name or path :
Icon=search
#d Name of the container it belongs to:
#{If you write here a container's name that doesn't exist yet, a new one will be created, with this icon inside.}
Container=_MainDock_

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=6
#b Prevent this launcher from stealing appli from taskbar ?
#{If you choosed to mix launcher and applis, this option will deactivate this behaviour for this launcher only. It can be useful for instance for a launcher that launches a script in a terminal, but you don't want it to steal the Terminal's icon from the Taskbar.} 
prevent inhibate=false

#s Class of the program :
#{The only reason you may want to modify this parameter is if you made this launcher by hands. If you dropped it into the dock from the menu, it is nearly sure that you shouldn't touch it. It defines the class of the program, which is useful to link the appli with its launcher.}
StartupWMClass=

#b Run in a terminal ?
#{It will use 'xterm'.}
Terminal=false

Is container=false

Renderer=

Base URI=
Is mounting point=false
Encoding=UTF-8
Name[ar]=ابحث عن الملفات...
Name[bg]=Търсене за файлове...
Name[bn]=ফাইল অনুসন্ধান...
Name[bn_IN]=ফাইল অনুসন্ধান...
Name[ca]=Cerca fitxers...
Name[cs]=Hledat soubory...
Name[cy]=Chwilio am Ffeiliau...
Name[da]=Søg efter filer...
Name[de]=Nach Dateien suchen …
Name[dz]=ཡིག་སྣོད་ཚུ་ འཚོལ་ཞིབ་འབད།
Name[el]=Αναζήτηση για αρχεία...
Name[en_CA]=Search for Files...
Name[en_GB]=Search for Files...
Name[es]=Buscar archivos…
Name[et]=Otsi faile...
Name[eu]=Bilatu fitxategiak...
Name[fa]=جستجوی پرونده‌ها...
Name[fi]=Etsi tiedostoja...
Name[fr]=Rechercher des fichiers...
Name[gl]=Buscar ficheiros...
Name[gu]=ફાઈલો માટે શોધો...
Name[he]=חפש קבצים...
Name[hi]=फ़ाइलों हेतु ढूंढें...
Name[hu]=Fájlok keresése...
Name[id]=Cari Berkas...
Name[it]=Cerca file...
Name[ja]=ファイルの検索...
Name[ka]=ფაილის ძებნა...
Name[ko]=파일 찾기...
Name[ku]=Li Pelan Bigere...
Name[lt]=Ieškoti failų...
Name[lv]=Meklēt Failus...
Name[mg]=Mikaroka rakitra...
Name[mk]=Барај датотеки...
Name[ml]=ഫയലുകള്‍ തിരയുക...
Name[nb]=Søk etter filer...
Name[ne]=...फाइलहरूलाई खोज्नुहोस्
Name[nl]=Bestanden zoeken...
Name[oc]=Recercar de fichièrs...
Name[or]=ଫାଇଲ ମାନଙ୍କୁ ଖୋଜନ୍ତୁ ...
Name[pa]=ਫਾਇਲਾਂ ਦੀ ਖੋਜ...
Name[pl]=Wyszukaj pliki...
Name[pt]=Procurar Ficheiros...
Name[pt_BR]=Pesquisar por Arquivos...
Name[ro]=Caută fişiere...
Name[ru]=Поиск файлов...
Name[si]=ගොනු සොයන්න...
Name[sk]=Hľadať súbory...
Name[sl]=Iskanje datotek ...
Name[sq]=Kërko për files...
Name[sr]=Тражи датотеке...
Name[sr@Latn]=Traži datoteke...
Name[sv]=Sök efter filer...
Name[ta]=கோப்புகளை தேடவும்...
Name[te]=దస్త్రముల కొరకు వెతుకుము...
Name[th]=ค้นหาแฟ้ม...
Name[tr]=Dosya Ara...
Name[uk]=Пошук файлів...
Name[vi]=Tìm kiếm tập tin...
Name[xh]=Khangela iiFayili...
Name[zh_CN]=搜索文件...
Name[zh_HK]=搜尋檔案...
Name[zh_TW]=搜尋檔案...
Comment=Locate documents and folders on this computer by name or content
Comment[ar]=حدد موقع المستندات والمجلدات على هذا الحاسوب بالإسم أو المحتوى
Comment[bg]=Намиране на документи и папки на този компютър по име или съдържание
Comment[bn]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[bn_IN]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[ca]=Localitza documents i directoris en aquest ordinador pel nom o contingut
Comment[cy]=Lleoli dogfennau a phlygellau ar y cyfrifiadur hwn wrth eu henw neu eu cynnwys
Comment[da]=Find dokumenter og mapper på denne computer ved navn eller indhold
Comment[de]=Dateien und Ordner auf diesem Computer nach Namen oder Inhalt suchen
Comment[dz]=གློག་རིག་འདི་གུ་ཡོད་པའི་ ཡིག་ཆ་དང་སྣོད་འཛིན་ཚུ་ མིང་གི་ཐོག་ལས་ ཡང་ན་ ནང་དོན་གྱི་ཐོག་ལས་ ག་ཡོད་འཚོལ།
Comment[el]=Εντοπισμός εγγράφων και φακέλων σε αυτό τον υπολογιστή με βάση το όνομα ή το περιεχόμενο
Comment[en_GB]=Locate documents and folders on this computer by name or content
Comment[es]=Encuentra documentos y carpetas en este equipo por nombre o por contenido
Comment[et]=Selles arvutis asuvate dokumentide ja kataloogide asukoha leidmine nende nime või sisu põhjal
Comment[eu]=Lokalizatu dokumentuak eta karpetak ordenagailu honetan izen edo edukiaren arabera
Comment[fa]=پیدا کردن نوشتارها و پوشه‌های موجود در این کامپیوتر با استفاده از نام یا محتوای آنها
Comment[fi]=Etsi asiakirjoja tai kansioita tietokoneelta nimen tai sisällön perusteella
Comment[fr]=Localise les documents et dossiers de cet ordinateur par leur nom ou leur contenu
Comment[gl]=Localizar documentos e cartafoles neste computador por nome ou por contido
Comment[gu]=આ કમ્પ્યૂટર પર નામ અથવા સમાવિષ્ટ દ્વારા દસ્તાવેજો અને ફોલ્ડરો સ્થિત કરો
Comment[hu]=Dokumentumok és mappák keresése név vagy tartalom szerint a számítógépen
Comment[id]=Tentukan lokasi dokumen atau folder pada komputer ini sesuai nama ataupun isinya
Comment[it]=Individua documenti e cartelle in questo computer per nome o contenuto
Comment[ja]=このコンピュータから名前や内容でドキュメントとフォルダの場所を特定します
Comment[ko]=이 컴퓨터의 문서나 폴더를 이름이나 내용으로 찾습니다
Comment[lt]=Rasti kompiuteryje esančius dokumentus pagal pavadinimą ar turinį
Comment[lv]=Meklē datorā mapes un failus pēc to nosaukumiem un satura
Comment[mg]=Hitady tahirin-kevitra sy laha-tahiry araka ny anarany na ny mpiatiny anatin'ity solosaina ity
Comment[mk]=Лоцирај ги документите и папките на овој компјутер по име или содржина
Comment[nb]=Finn dokumenter og mapper på denne datamaskinen etter navn eller innhold
Comment[nl]=Documenten en mappen vinden op naam of inhoud
Comment[or]=ନାମ କିମ୍ବା ସୂଚୀ ଅନୁସାରେ ଏହି କମ୍ପୁଟରରେ ଦଲିଲ ଏବଂ ଫୋଲଡର୍ ମାନଙ୍କର ଅବସ୍ଥିତି ନିର୍ଣ୍ଣୟ କରନ୍ତୁ
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਦਸਤਾਵੇਜ਼ ਅਤੇ ਫੋਲਡਰਾਂ ਨੂੰ ਨਾਂ ਜਾਂ ਪਰਸੰਗ ਮੁਤਾਬਕ ਲੱਭੋ
Comment[pl]=Znajduje dokumenty i foldery na koputerze po nazwie lub treści
Comment[pt]=Localizar documentos e pastas neste computador com base no nome e conteúdo
Comment[pt_BR]=Localizar documentos e pastas neste computador por nome ou conteúdo
Comment[ru]=Поиск документов и папок на этом компьютере по имени или по содержанию
Comment[si]=නමින් හෝ අන්තර්ගතයෙන් ලේඛන හෝ බහලුම් පිහිටුම් සොයාගන්න
Comment[sl]=Poiščite dokumente in mape na računalniku s pomočjo imena ali vsebine
Comment[sv]=Lokalisera dokument och mappar på denna dator efter namn eller innehåll
Comment[ta]=இந்த கணினியில் உள்ள ஆவணங்கள் அல்லது அடைவுகளை பெயராலோ உள்ளடக்கத்தாலோ கண்டுபிடிக்கவும்
Comment[th]=ค้นหาเอกสารและโฟลเดอร์ในคอมพิวเตอร์นี้ด้วยชื่อหรือเนื้อหา
Comment[tr]=Bu bilgisayardaki dökümanları ve klasörleri ada veya içeriğe göre konumlandır
Comment[uk]=Шукати документи та теки на цьому комп'ютері за назвою чи змістом
Comment[vi]=Trên máy tính này, tìm tài liệu và thư mục theo tên hay nội dung
Comment[zh_CN]=按照名称或内容定位此计算机中的文档和文件夹
Comment[zh_HK]=以名稱或內容來尋找電腦中的文件或資料夾
Comment[zh_TW]=以名稱或內容來尋找電腦中的文件或資料夾
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Core;
OnlyShowIn=GNOME
X-GNOME-DocPath=gnome-search-tool/gnome-search-tool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gsearchtool
