#!en

[Desktop Entry]
#s Launcher's name :
Name=Inkscape
#s Command to launch on click :
#{Exemple : nautilus --no-desktop, gedit, etc. You can even enter a keyboard shortcut, for exemple <Alt>F1 for the Applications Menu, <Ctrl>c or <Ctrl>v to copy or paste, etc}
Exec=inkscape
#S Image's name or path :
Icon=inkscape

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.74666595458984375
#E[_MainDock_;Shortcuts;Weather;Graphics]  Name of the container it belongs to:
Container=Graphics
#b Prevent this launcher from stealing appli from taskbar ?
#{Use this option for exemple if the launcher launches a script in a terminal but you don't want it to steal normal terminal's icons from the TaskBar, or if you explicitely want to use the original icon of the TaskBar because it provides some info, for exemple Pidgin's icons represent the avatar of the contact.}
prevent inhibate=false


Is container=false

Renderer=

Base URI=
Is mounting point=false
