#!en

[Desktop Entry]
#s Sub-dock's name :
Name=Graphics

Exec=
#S Image's name or path :
Icon=graphics.svg

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.98216686015948573
#d Name of the container it belongs to:
Container=_MainDock_

Is container=true
#n Name of the view used for the sub-dock :/
Renderer=

Base URI=
Is mounting point=false
